/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/
body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: white;
  padding: 0; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }

#main-container {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* MAP */
#image-box {
  width: 75%;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  position: relative; }

.image-box-info {
  background-color: transparent;
  display: none;
  color: white;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 3em;
  padding: .5em 0; }

.info-subject {
  font-family: monospace;
  letter-spacing: 3px;
  margin: 0 1em; }

#map-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

#map {
  width: 100%;
  height: 100%; }


.header {
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: monospace;
  letter-spacing: 1em;
  text-transform: uppercase;
  position: fixed;
  z-index: 100;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header__text a {
  text-decoration: none;
  color: white; }

.header__text:before, .header__text:after {
  height: 11px;
  width: 30%;
  background-color: white;
  position: absolute;
  content: '';
  top: 0;
  /*box-shadow: 0px 18px 0px white;*/ }

.header__text:before {
  left: 0; }

.header__text:after {
  right: 0; }

#nav a {
  text-decoration: none;
  color: inherit; }

#nav {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 25px;
  left: 0;
  display: none;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  z-index: 100; }

#nav-left-half, #nav-right-half {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 100%; }

#nav-left-half {
  padding-left: 2em;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#nav-right-half {
  padding-right: 2em;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#nav-right-half div, #nav-left-half div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: black;
  background-color: transparent;
  font-family: sans-serif;
  border: 3px solid black;
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;
  -webkit-animation: in 500ms 0s;
  animation: in 500ms 0s; }

#nav-right-half div {
  margin: 0px 0.8em; }

#nav-right-half div:hover, #nav-left-half div:hover {
  border-color: deepskyblue;
  color: deepskyblue;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: out 350ms 0s;
  animation: out 350ms 0s;
  background-color: white; }

@-webkit-keyframes out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: black;
    color: black; }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: deepskyblue;
    color: deepskyblue; } }

@keyframes out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: black;
    color: black; }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: deepskyblue;
    color: deepskyblue; } }

@-webkit-keyframes in {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: deepskyblue;
    color: deepskyblue; }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    border-color: black;
    color: black; } }

@keyframes in {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: deepskyblue;
    color: deepskyblue; }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    border-color: black;
    color: black; } }

.intro, .intro--cont {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.gradient--dark {
  background: linear-gradient(135deg, #9e009e 0%, #131313 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: gradientDark 12s infinite alternate-reverse;
  animation: gradientDark 12s infinite alternate-reverse;
  z-index: 2; }

.gradient--top {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: gradientTop 7500ms infinite alternate-reverse;
  animation: gradientTop 7500ms infinite alternate-reverse;
  background: linear-gradient(to right, #ff0032 0%, yellow 100%);
  z-index: 4; }

.gradient--bottom {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #1e5799 0%, #ff00fa 100%);
  -webkit-animation: gradientBottom 4500ms infinite alternate-reverse;
  animation: gradientBottom 4500ms infinite alternate-reverse;
  z-index: 3; }

.intro--textbox__large {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 90px;
  color: white;
  letter-spacing: .2em;
  -webkit-animation: introTextFadeOut 1s 2s linear forwards;
  animation: introTextFadeOut 1s 2s linear forwards; }

.intro--textbox__byline {
  font-size: 12px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-style: italic;
  z-index: 3; }

.intro--video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

@-webkit-keyframes gradientBottom {
  0% {
    opacity: .02; }
  100% {
    opacity: .15; } }

@keyframes gradientBottom {
  0% {
    opacity: .02; }
  100% {
    opacity: .15; } }

@-webkit-keyframes gradientTop {
  0% {
    opacity: .15; }
  100% {
    opacity: .02; } }

@keyframes gradientTop {
  0% {
    opacity: .15; }
  100% {
    opacity: .02; } }

@-webkit-keyframes gradientDark {
  0% {
    opacity: .02; }
  90% {
    opacity: .15; }
  100% {
    opacity: .2; } }

@keyframes gradientDark {
  0% {
    opacity: .02; }
  90% {
    opacity: .15; }
  100% {
    opacity: .2; } }

@-webkit-keyframes introTextFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes introTextFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@font-face {
  font-family: 'LifeEf';
  src: url("/fonts/LifeEF_Regular.otf") format("opentype"); }

textarea:focus, input:focus {
  outline: none; }

.gifs-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%; }

.gifsviewer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%; }

.gifsviewer--imagecontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 400px;
  width: 550px;
  position: relative; }

.gifsviewer--image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.gifsviewer--text {
  width: 250px;
  text-align: center;
  z-index: 2;
  font-family: LifeEF;
  font-size: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sidebar {
  width: 20%;
  height: 100%;
  border-left: 2px dashed black;
  position: relative;
  transition: all 500ms ease;
  box-sizing: border-box; }

.sidebar--container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 500ms ease; }

.sidebar--hide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: -40px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding-left: 7px;
  border: 2px dashed transparent;
  border-right: 0px dashed black;
  transition: all 50ms ease; }
  .sidebar--hide:hover {
    cursor: pointer; }

.sidebar--hide__x {
  border-bottom: 1px solid black;
  height: 0;
  width: 60%;
  position: absolute; }
  .sidebar--hide__x:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .sidebar--hide__x:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.sidebar--hide__arrow {
  border-bottom: 1px solid black;
  width: 70%;
  position: relative; }
  .sidebar--hide__arrow:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -1px;
    width: 45%;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); }
  .sidebar--hide__arrow:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -1px;
    width: 45%;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); }

.sidebar--btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px dashed black;
  width: 90%;
  padding: .5em 0;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: LifeEF;
  transition: all 250ms ease; }
  .sidebar--btn:hover {
    cursor: pointer;
    border-style: solid; }
  .sidebar--btn:hover:last-child {
    background-color: black;
    color: white;
    border-color: white; }

.sidebar--form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  position: relative; }

.sidebar--form__input {
  width: 100%; }

.sidebar--form__heading {
  font-family: LifeEF;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 14px; }

.sidebar--form__hr {
  width: 70%;
  border-bottom: 1px dashed black; }

.sidebar--form__label {
  font-size: 12px;
  font-family: LifeEF;
  margin-top: 5px; }
  .sidebar--form__label:hover {
    cursor: pointer; }

input[type="checkbox"] {
  width: 20px;
  position: absolute;
  bottom: 0;
  opacity: 0; }
  input[type="checkbox"]:hover {
    cursor: pointer; }

input[type="checkbox"] + label {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

input[type="checkbox"] + label > div:first-child {
  left: 0;
  border: 1px solid black;
  width: 10px;
  height: 10px; }

input[type="checkbox"]:checked + label > div:first-child {
  background-color: black; }

input[type="checkbox"] + label div:last-child {
  text-align: center;
  font-size: 12px;
  font-family: LifeEF;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.sidebar--header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: LifeEF;
  font-style: italic;
  font-size: 17px;
  height: 75px;
  text-transform: capitalize;
  border-bottom: 2px dashed black; }

.about-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.phone {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: phoneIn 1200ms normal forwards ease;
  animation: phoneIn 1200ms normal forwards ease; }

.email {
  top: 33%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: emainIn 1500ms normal forwards ease;
  animation: emainIn 1500ms normal forwards ease; }

.activities {
  top: 66%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: activitiesIn 2100ms normal forwards ease;
  animation: activitiesIn 2100ms normal forwards ease; }

.github {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: githubIn 2500ms normal forwards ease;
  animation: githubIn 2500ms normal forwards ease; }

@-webkit-keyframes phoneIn {
  0% {
    top: -1000%;
    color: rgba(255, 255, 255, 0); }
  20% {
    top: -1000%;
    color: rgba(255, 255, 255, 0); }
  60% {
    color: rgba(255, 255, 255, 0); }
  100% {
    top: 0;
    color: white; } }

@keyframes phoneIn {
  0% {
    top: -1000%;
    color: rgba(255, 255, 255, 0); }
  20% {
    top: -1000%;
    color: rgba(255, 255, 255, 0); }
  60% {
    color: rgba(255, 255, 255, 0); }
  100% {
    top: 0;
    color: white; } }

@-webkit-keyframes githubIn {
  0% {
    top: 1000%;
    opacity: 0; }
  20% {
    top: 1000%;
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    top: 110%;
    opacity: 1; } }

@keyframes githubIn {
  0% {
    top: 1000%;
    opacity: 0; }
  20% {
    top: 1000%;
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    top: 110%;
    opacity: 1; } }

@-webkit-keyframes emainIn {
  0% {
    left: -1000%;
    color: rgba(255, 255, 255, 0); }
  20% {
    left: -1000%;
    color: rgba(255, 255, 255, 0); }
  60% {
    color: rgba(255, 255, 255, 0); }
  100% {
    left: 50%;
    color: white; } }

@keyframes emainIn {
  0% {
    left: -1000%;
    color: rgba(255, 255, 255, 0); }
  20% {
    left: -1000%;
    color: rgba(255, 255, 255, 0); }
  60% {
    color: rgba(255, 255, 255, 0); }
  100% {
    left: 50%;
    color: white; } }

@-webkit-keyframes activitiesIn {
  0% {
    left: 1000%;
    color: rgba(255, 255, 255, 0); }
  20% {
    left: 1000%;
    color: rgba(255, 255, 255, 0); }
  60% {
    color: rgba(255, 255, 255, 0); }
  100% {
    left: 50%;
    color: white; } }

@keyframes activitiesIn {
  0% {
    left: 1000%;
    color: rgba(255, 255, 255, 0); }
  20% {
    left: 1000%;
    color: rgba(255, 255, 255, 0); }
  60% {
    color: rgba(255, 255, 255, 0); }
  100% {
    left: 50%;
    color: white; } }

input {
  box-shadow: 0,0,0, transparent;
  border-color: transparent; }

.terminal {
  color: #00ff00;
  height: 450px;
  width: 800px;
  font-family: monaco;
  position: fixed;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  z-index: 10; }
  .terminal:before {
    content: '';
    top: -30px;
    position: absolute;
    left: 0;
    height: 30px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, #efefef 0%, #d8d8d8 80%); }

.terminal--button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: -31px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8); }
  .terminal--button:hover {
    box-shadow: inset 0 0 5px black; }

.terminal--button__cont {
  height: 100%;
  width: 100%;
  position: relative; }

.terminal--button__close {
  left: 0px;
  background-color: red; }

.terminal--button__mini {
  left: 22px;
  background-color: yellow; }

.terminal--button__open {
  left: 44px;
  background-color: yellowgreen; }

.terminalHelp--container {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .terminalHelp--container > div {
    margin-bottom: 20px; }

@font-face {
  font-family: 'monaco';
  src: url("/fonts/monaco.ttf") format("truetype"); }

/*# sourceMappingURL=app.css.map */