@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
@font-face {
  font-family: 'LifeEf';
  src:  url('/fonts/LifeEF_Regular.otf') format("opentype");
}
textarea:focus, input:focus {
    outline: none;
}
.gifs-container {
    @include flex(center, center);
    height: 100%;
    width: 100%;
}
.gifsviewer {
    @include flex(center, center);
    flex: 1;
    height: 100%;
}
.gifsviewer--imagecontainer {
    @include flex(center, center);
    height: 400px;
    width: 550px;
    position: relative;
}
.gifsviewer--image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gifsviewer--text {
    width: 250px;
    text-align: center;
    z-index: 2;
    font-family: LifeEF;
    font-size: 40px;
    flex-wrap: wrap;
}
.sidebar {
    width: 20%;
    height: 100%;
    border-left: 2px dashed black;
    position: relative;
    transition: all 500ms ease;
    box-sizing: border-box;
}
.sidebar--container {
    width: 100%;
    height: 100%;
    @include flex(center, space-around);
    flex-direction: column;
    transition: all 500ms ease;
}
.sidebar--hide {
    @include flex(center, center);
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: -40px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding-left: 7px;
    border: 2px dashed transparent;
    border-right: 0px dashed black;
    transition: all 50ms ease;
    &:hover {
        cursor: pointer;
    }
}
.sidebar--hide__x {
    border-bottom: 1px solid black;
    height: 0;
    width: 60%;
    position: absolute;
    &:first-child {
        transform: rotate(45deg);
    }
    &:last-child {
        transform: rotate(-45deg);
    }
}
.sidebar--hide__arrow {
  border-bottom: 1px solid black;
  width: 70%;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -1px;
    width: 45%;
    border-bottom: 1px solid black;
    transform: rotate(35deg);
  }
  &:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -1px;
    width: 45%;
    border-bottom: 1px solid black;
    transform: rotate(-35deg);
  }
}
.sidebar--btn {
    @include flex(center, center);
    border: 1px dashed black;
    width: 90%;
    padding: .5em 0;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: LifeEF;
    transition: all 250ms ease;
    &:hover {
        cursor: pointer;
        border-style: solid;
    }
    &:hover:last-child {
        background-color: black;
        color: white;
        border-color: white;
    }
}
.sidebar--form {
    @include flex(center, center);
    flex-direction: column;
    width: 90%;
    position: relative;
}
.sidebar--form__input {
    width: 100%;
}
.sidebar--form__heading {
    font-family: LifeEF;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 14px;
}
.sidebar--form__hr {
    width: 70%;
    border-bottom: 1px dashed black;
}
.sidebar--form__label {
    font-size: 12px;
    font-family: LifeEF;
    margin-top: 5px;
    transition: all 300ms ease;
    &:hover {
        cursor: pointer;
    }
}

.sidebar--form__request {
    width: 70%;
    text-align: center;
    &:hover {
        background-color: rgba(0,0,0,.05);
    }
}

input[type="checkbox"] {
    width: 20px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
}
input[type="checkbox"] + label {
    width: 100%;
    height: 100%;
    @include flex(center, space-around);
}
input[type="checkbox"] + label > div:first-child {
    left: 0;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}
input[type="checkbox"]:checked + label > div:first-child {
  background-color: black;
}
input[type="checkbox"] + label div:last-child {
    text-align: center;
    font-size: 12px;
    font-family: LifeEF;
    flex: 1;
}
.sidebar--header {
    @include flex(center, center);
    font-family: LifeEF;
    font-style: italic;
    font-size: 17px;
    height: 75px;
    text-transform: capitalize;
    border-bottom: 2px dashed black;
}





















